.form {
  width: 75%;
  display: flex;
  align-items: center;

  &.invalid {
    .form-content {
      .input {
        color: red;
      }
    }
  }

  .form-icon-warning {
    width: 15px;
    height: 15px;
    padding: 7px;
    background-image: url("../../Images/warning.svg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 20px;
    position: relative;

    .form-tooltip {
      visibility: hidden;
      width: 120px;
      background-color: black;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 5px;
      position: absolute;
      z-index: 1;
      bottom: 150%;
      left: 50%;
      margin-left: -60px;
    }

    &:hover .form-tooltip {
      visibility: visible;
    }
  }

  .form-content {
    display: flex;
    flex: 1;
    flex-direction: column;

    .required-dot {
      color: red;
      text-align: right;
    }
  }
}
