#not-found-page {
  font-family: 'Roboto', sans-serif;
  margin: 25px auto 20px;
  width: 70%;
  box-sizing: border-box;
  padding: 20px 15px 0;
  background-color: #fff;
  transition: box-shadow 0.25s;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  .card-content {
    .card-title {
      font-size: 24px;
      line-height: 48px;
      font-weight: 500;
    }
  }
  .card-action {
    border-top: 1px solid rgba(160,160,160,0.2);
    padding: 20px;
    .button-not-found {
      margin-top: 5px;
      transition: color .3s ease;
      text-transform: uppercase;
      margin-right: 20px;
      cursor: pointer;
      display: inline-block;
      color: #4CAF50 !important;
      text-decoration: none;
    }
  }
}
